.bgImage{
  background-image: url("./Images/mainBG.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;
}

.bgImage2{
  background-image: url("./Images/LGrayBG.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  min-height: 100vh;
}

.CardContainer{
  margin: 100px ;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 5px;
  row-gap: 10px;
}

.Item{
  font-size: 20px;
}

.center {
  text-align: center;
  list-style-position: inside;
}

.textboxbg{
  color:white;
  background-color:rgba(255, 0, 0, 0.914);
  border-radius: 15px;
}

span{
  background-color: blue;
  color: bisque;
  font-size: 55px;
  border-radius: 15px;
}
